export()
export(getRsquared)
export(getX)
export(getY)
export(reg)
export(signi)
exportClasses(polyreg)
exportClasses(signi.polyreg)
exportMethods(coef)
exportMethods(getRsquared)
exportMethods(getX)
exportMethods(getY)
exportMethods(initialize)
exportMethods(plot)
exportMethods(print)
exportMethods(reg)
exportMethods(show)
exportMethods(signi)
